PyQt5==5.15.10
vk_api @ git+https://github.com/python273/vk_api@master
beautifulsoup4==4.12.2
wget==3.2
keyrings.cryptfile==1.3.9
keyring==24.2.0
mutagen==1.47.0
m3u8==3.6.0
crypto==1.4.1
moviepy==1.0.3